/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Prope:rty */

.root{
				-fx-background-color: black;
}

Button{
     	        -fx-background-radius: 20em;
                -fx-min-width: 70px; 
                -fx-min-height: 70px;
                -fx-max-width: 70px;
                -fx-max-height: 70px;
                -fx-text-fill: white;
}

 #zeroButton{
 	   			-fx-background-radius: 5em;
                -fx-min-width: 150px; 
                -fx-min-height: 65px;
                -fx-max-width: 150px;
                -fx-max-height: 65px;
}
 
 #restartButton{
 				-fx-text-fill: black;
 }
 
 #ifPlusButton{
 				-fx-text-fill: black;
 }
 
 #moduloButton{
 				-fx-text-fill: black;
 }
 
Button:hover{
	   			-fx-min-width: 72px; 
                -fx-min-height: 72px;
                -fx-max-width: 72px;
                -fx-max-height: 72px;
    
	}
	